:root {
    --cor-1: #EAFFFD;
    --cor-2: #C9F0FF;
    --cor-3: #28965A;
    --cor-4: #0E7C7B;
    --cor-5: #3E363F;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    color: var(--cor-5);
    background-color: var(--cor-1);
}

header {
    background-color: var(--cor-3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.nav-ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
}

.nav-ul a {
    color: var(--cor-2);
    text-decoration: none;
    font-size: 20px;
}

.nav-ul a:hover {
    color: var(--cor-1);
    text-decoration: none;
    font-size: 20px;
}

main {
    background-color: var(--cor-2);
    width: 90%;
    margin: auto;
    margin-block: 16px;
    border-radius: 10px;
    padding: 16px;
}

section {
    margin: 24px;
}

section h2 {
    text-align: center;
    padding-block: 24px;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
}

#img-sobre{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-block: 10px;
}

#img-sobre img{
    width: 80%;
}

#habilidades div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    border: 1px dotted black;
    padding: 10px;
}

#habilidades article {
    border: 1px solid var(--cor-5);
    width: 300px;
    padding: 10px;
}

#projetos div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    border: 1px solid black;
    padding: 10px;
}

#projetos article {
    border: 1px solid black;
    width: 300px;
}

article img{
    width: 100%;
}

footer {
    background-color: var(--cor-3);
}